<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.2" targetFramework="net452" />
  <package id="FSharp.Data" version="2.2.5" targetFramework="net452" />
  <package id="Marvel.AzureStorage.FSharp" version="2.0.28" targetFramework="net452" />
  <package id="Marvel.EventStore.FSharp" version="2.0.120" targetFramework="net452" />
  <package id="Marvel.FSharp" version="2.0.386" targetFramework="net452" />
  <package id="Marvel.Json.FSharp" version="1.0.386" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net452" />
  <package id="NLog" version="3.1.0.0" targetFramework="net452" />
  <package id="Nova.Api" version="1.0.0057" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net452" />
  <package id="Torch.Host.Api" version="0.0.0.3" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net452" />
</packages>