<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SFO" connectionString="Data Source=DESKTOP-811OCB2;Initial Catalog=SFO;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   
   </assemblyBinding>
</configuration>
