<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.7" targetFramework="net45" />
  <package id="FSharp.Data" version="2.0.10" targetFramework="net45" />
  <package id="FSharp.Management" version="0.1.1" targetFramework="net45" />
  <package id="PowerShellTypeProvider" version="0.3.1" targetFramework="net45" />
  <package id="R.NET.Community" version="1.5.15" targetFramework="net45" />
  <package id="R.NET.Community.FSharp" version="0.1.8" targetFramework="net45" />
  <package id="RProvider" version="1.0.15" targetFramework="net45" />
</packages>