source https://nuget.org/api/v2
source https://jet.myget.org/F/jenkins/auth/9a8911cc-da03-4136-acfe-4f7b9a4fa3d6

framework >= net452
nuget EventStore.Client 
nuget FSharp.Data
nuget Marvel.AzureStorage.FSharp
nuget Marvel.EventStore.FSharp
nuget Marvel.FSharp
nuget Marvel.Json.FSharp
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Newtonsoft.Json
nuget NLog
nuget Nova.Api
nuget System.Spatial
nuget Torch.Host.Api
nuget WindowsAzure.Storage
nuget SQLProvider 